In [1]:
import statsmodels.api as sm
import pandas as pd
import numpy as np

In [2]:
# Importing the dataset 'Carseats' from the R library 'ISLR'
dataset_carseat=sm.datasets.get_rdataset('Carseats','ISLR')
data=pd.DataFrame(dataset_carseat.data)
data=data.loc[:,['Sales','Price','ShelveLoc','CompPrice']]

In [3]:
# Converting the cathegorical feature 'ShelveLoc' into numerical
shelveLocDict = {"ShelveLoc": {"Bad": 0, "Medium": 1,"Good":2}}
data.replace(shelveLocDict, inplace=True)

In [4]:
# Taking a quick look to the dataset
data.head()

   Sales  Price  ShelveLoc  CompPrice
0   9.50    120          0        138
1  11.22     83          2        111
2  10.06     80          1        113
3   7.40     97          1        117
4   4.15    128          0        141

In [5]:
# Obtaining description of the numerical fields
data.describe()

            Sales       Price   ShelveLoc   CompPrice
count  400.000000  400.000000  400.000000  400.000000
mean     7.496325  115.795000    0.972500  124.975000
std      2.824115   23.676664    0.672961   15.334512
min      0.000000   24.000000    0.000000   77.000000
25%      5.390000  100.000000    1.000000  115.000000
50%      7.490000  117.000000    1.000000  125.000000
75%      9.320000  131.000000    1.000000  135.000000
max     16.270000  191.000000    2.000000  175.000000

In [6]:
# Checking for Missing Values
data.isnull().sum()

Sales        0
Price        0
ShelveLoc    0
CompPrice    0
dtype: int64

In [7]:
from sklearn.model_selection import train_test_split
rs=42
predict="Sales"
X=np.array(data.drop([predict],1))
y=np.array(data[predict])
X_train, X_test,y_train, y_test=train_test_split(X,y,test_size=0.2,random_state=rs)

In [8]:
from sklearn.tree import DecisionTreeRegressor 
tree_regressor = DecisionTreeRegressor(random_state = rs)
tree_regressor.fit(X_train, y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=42, splitter='best')

In [1]:
import pickle
pickle.dump(tree_regressor, open("models/tree_model.pickle", 'wb'))

In [77]:
inp=np.array([[156,1,143]])
pred=tree_regressor.predict(inp)
pred

array([2.93])

In [78]:
a=pred[0]
a

2.93